<div class ="announcements align-left">
	<%for announcement in Announcements.all%>
		<p class="font-black">
			<%=announcement.date%>
		</p>
		<p class="font-black"><strong><%=announcement.title%></strong></p>
			<p class="font-gray">
				<%=announcement.text%>
			</p>
		</p>
		<%if !announcement.link1.nil? && announcement.link1 != "" && !announcement.link1_title.nil? && announcement.link1_title != ""%>
			<%= link_to announcement.link1_title, announcement.link1, class: "btn btn-info lter" %>
			<br><br>
		<%end%>
		<%if !announcement.link2.nil? && announcement.link2 != "" && !announcement.link2_title.nil? && announcement.link2_title != ""%>
			<%= link_to announcement.link2_title, announcement.link2, class: "btn btn-info lter" %>
			<br><br>
		<%end%>
	<div class="line line-dashed"></div>
	<%end%>
</div>