<div class="row title-row">
	<div class="col-12 font-thin">Application and Forms</div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12 font-semibold">We're currently taking applications for both mentors and students!</div>
</div>
<div class="row subtitle-row">
	<div class="col-lg-12 font-thin">
		<div class="col-lg-6" id= "mentors_apply">
			<div class="margin-xlarge-lr">
				<div id= "mentors_overlay" class="animated fadeInDown hide col-12 absolute text-center bg-overlay-dark m-t">
					<h1>for <span class="font-semibold">mentors</span></h1><br>
					<%=link_to "apply", "#", class: "btn btn-info btn-lg" %>
					<br><br>
				</div>
				<%=image_tag "mentors.jpg", class: "img_rs desaturate rounded yellowborder"%>
			</div>
			<div class="med-space"></div>
		</div>
		<div class="col-lg-6" id= "students_apply">
			<div class="margin-xlarge-lr">
				<div id= "students_overlay" class="animated fadeInDown hide col-12 absolute text-center bg-overlay-dark m-t">
					<h1>for <span class="font-semibold">students</span></h1><br>
					<%=link_to "apply", "#", class: "btn btn-info btn-lg" %>
					<br><br>
				</div>
				<%=image_tag "students.jpg", class: "img_rs desaturate rounded yellowborder"%>
			</div>
			<div class="med-space"></div>
		</div>
		<div class="col-lg-12">
			<div id="home-row-2" class="row clearfix">
				<div class="col-12 col-sm-4">
					<a class="turngray" href="/flyer.pdf">
						<%=image_tag "flyer_icon_red.png", width:80 %><br><br>
						<span class=" font-white font-semibold">FLYER PDF</span>
					</a>
				</div>
				<div class="col-12 col-sm-4">
					<a class="turngray" href="/application.pdf">
						<%=image_tag "app_icon_red.png", width: 80 %><br><br>
						<span class=" font-white font-semibold">APPLICATION PDF</span>
					</a>
				</div>
				<div class="col-12 col-sm-4">
					<a class="turngray" href="/faq.pdf">
						<%=image_tag "faq_icon_red.png", width: 80 %><br><br>
						<span class=" font-white font-semibold">FAQ PDF</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>