<div id = "kirin" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/Kirin Sinha .jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Kirin, founder and executive director of SHINE, is a senior majoring in Theoretical Mathematics and Electrical Engineering/Computer Science with a minor in music. She began dancing when she was 3 and has studied ballet, jazz, and classical Indian styles. She is a Marshall Scholar and will attend Cambridge University to pursue graduate work in mathematics next year. In her free time she conducts math research and enjoys composing music.
	</div>
</div>

<div id = "emily" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/Emily Benz.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Emily is a freshmen studying course 6, electrical engineering and computer science. On campus, she is part of the Alpha Phi sorority and works in the Edgerton Center as a teaching assistant. Emily loves to run and ski in her free time.
	</div>
</div>

<div id = "jennifer" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/JenniferYu.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Jennifer is from Morgantown, WV and throughout middle school and high school, she was deeply involved in math competitions. She is currently a freshman at MIT with a potential major in Mechanical Engineering. In her free time, she is an active member in TechX, a student-run group that brings cutting-edge technology to campus through several large events throughout the year, and participates in MIT's DanceTroupe.
	</div>
</div>

<div id = "christine" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/christine.png", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Christine was born in LA, where she began dancing at the age of three.  She was raised in the suburbs of Chicago, where she trained in ballet, pointe, jazz, tap, modern, and traditional Korean dance.  While attending boarding high school in Concord, NH, she picked up hip-hop and served as a peer tutor in Math and Chemistry.  As an MIT senior, she majors in Brain and Cognitive Sciences, minors in Biology and Chemistry, and dances and choreographs for MIT DanceTroupe.  In her free time, Christine participates in many different health and education-related service organizations such as MIT BrainTrust and Let's Get Ready.
	</div>
</div>

<div id = "jennpan" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/jenn pan.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Jennifer is a sophomore majoring in Materials Science and Engineering. Starting from 3, she was trained in ballet and modern at the Hyde Park School of Dance in Chicago. 
	</div>
</div>

<div class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/martha.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Martha is a junior at MIT majoring in Environmental Engineering. Originally from Texas, she participated in many math competitions from elementary school to high school. Throughout the years, Martha has also been a math tutor and mentor to her peers. Martha has a passion for educational reform.
	</div>
</div>

<div id = "kathy" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/kathy.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Kathy was born and grew up in New York City. She began studying Ballet at the age of 5 but soon gained exposure to other genres such as Jazz, Ballroom Dancing and Hip Hop. At MIT, she currently studies Applied Mathematics with minors in Biology and Management Science. In her free time, she completes her duties as MIT Dance Troupe's Vice President, conducts math research, and loves learning more about photography.
	</div>
</div>

<div id = "bari" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/BariPicture.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Bari is currently a senior at MIT studying biology, with the hopes of pursuing a career in medicine or global health.  She started her first ballet class at the age of three, and has stuck with dancing ever since. She is trained in tap, jazz, ballet, hip hop, modern, lyrical, pointe, and contemporary styles of dance, and loves the feeling of being on stage and performing in front of an audience!  
	</div>
</div>

<div id = "mayowa" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/Mayowa pict.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Mayowa is a junior at MIT majoring in physics and mathematics. She enjoys music and dance; she has had tons of fun dancing for various performances with MIT's Dance Troupe and Mirchi team in addition to playing violin in the MIT Symphony Orchestra.  
	</div>
</div>

<div id = "amy" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/Amy.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Amy fell in love with ballet when she was in third grade and has been dancing ever since. She has since tried tap, jazz, contemporary, and Chinese dancing, and she currently competes on the MIT Ballroom Dance Team. She studies Mechanical Engineering and hopes to invent medical devices when she graduates.   
	</div>
</div>

<div id = "claire" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/Claire photo.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Claire was born and grew up in Santa Barbara, California. She started dancing at the young age of three and hasn’t stopped since. She started training in ballet and then progressed to a variety of dance styles including hip-hop, jazz, modern and lyrical. In 2009, Claire got involved with the national non-profit organization Everybody Dance Now! serving on the organization’s Leadership Board for over three years also working as the organization’s Performance Troupe Director, Dance Instructor and Breakdance Project Santa Barbara Manager. She is a sophomore at MIT pursuing a degree in Mechanical Engineering.   
	</div>
</div>

<div id = "shelby" class="row hide blurb">
	<div class="col-4">
		<%=image_tag "mentors/Shelby.jpg", class: "img_rs rounded desaturate"%>
	</div>
	<div class="col-8 text-left text-large">
		Shelby recently graduated from MIT with a major in theoretical mathematics. I is originally from Annapolis, MD. In her free time she likes to play the violin, workout at the gym, listen to music, dance, and hang out with friends.  
	</div>
</div>