<div class="row title-row">
	<div class="col-12 font-thin">Mentors</div>
</div><!-- /row -->
<%=render 'mentor_blurbs'%>
<div class="med-space"></div>
<div class="line line-dashed"></div>
<div class="med-space"></div>
<div class="row text-center">
	<div class="col-2">
		<%=image_tag "mentors/Kirin Sinha .jpg", id: "kirin_link",class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Kirin Sinha<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/Emily Benz.jpg", id: "emily_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Emily Benz<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/JenniferYu.jpg", id: "jennifer_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Jennifer Yu<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/christine.jpg", id: "christine_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Christine Park<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/jenn pan.jpg", id: "jennpan_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Jenn Pan<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/martha.jpg", id: "martha_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Martha Gross<br><br><strong>
	</div>
</div>
<div class="med-space"></div>
<div class="row ">
	<div class="col-2">
		<%=image_tag "mentors/kathy.jpg", id: "kathy_link",class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Kathy Lin<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/BariPicture.jpg", id: "bari_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Bari<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/Mayowa pict.jpg", id: "mayowa_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Mayowa Omokanwaye<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/Amy.jpg", id: "amy_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Amy Ishiguro<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/Claire photo.jpg", id: "claire_link", class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Claire Patterson<br><br><strong>
	</div>
	<div class="col-2">
		<%=image_tag "mentors/Shelby.jpg", id: "shelby_link",class: "pointer img_rs rounded desaturate"%>
		<strong><br><br>Shelby Heinecke<br><br><strong>
	</div>
</div>