<div class="row title-row">
	<div class="col-12 font-thin">News</div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12">
		<div class="col-lg-6">
			<div class="margin-med-lr bg-trans-white white-border rounded padding-small">
				<strong>EVENTS</strong>
				<table>
					<tr>
						<td><%=image_tag "paint_splatters.png", width:50, height:50%></td>
						<td><small>2/20/2014</small><br>
							<%=link_to "Introduce a Girl to Engineering day", engineeringday_path%></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="margin-med-lr bg-trans-white white-border rounded padding-small">
				<strong>PRESS</strong>
				<table>
					<tr>
						<td><%=image_tag "http://a5.mzstatic.com/us/r30/Purple6/v4/ac/90/a3/ac90a335-0dd6-1dae-0918-d6972c2c3e59/icon_256.png", width:50, height:50%></td>
						<td><small>04/24/2014</small><br>
							<%=link_to "New program uses dancing to get children excited about math and science", "http://www.myfoxboston.com/video?clipId=10087247&autostart=true"%>
						</td>
					</tr>

					<tr>
						<td><%=image_tag "globe_icon.jpg", width:50, height:50%></td>
						<td><small>04/18/2014</small><br>
							<%=link_to "In after-school program, girls link elegance of dance and math", "http://www.bostonglobe.com/news/science/2014/04/18/after-school-program-uses-dance-nurture-girls-interest-math/JmszMn1zOR7DPcRiozShpN/story.html"%>
						</td>
					</tr>
					<tr>
						<td><%=image_tag "csf.png", width:50, height:50%></td>
						<td><small>11/14/2013</small><br>
							<%=link_to "MIT COMMUNITY SERVICE FUND: SHINE for Girls", "http://csf.mit.edu/blog/shine-girls"%>
						</td>
					</tr>
					<tr>
						<td><%=image_tag "mit_news.png", width:50, height:50%></td>
						<td><small>11/1/2013</small><br>
							<%=link_to "MIT NEWS: MIT students help middle-school girls SHINE in dance and math", "http://web.mit.edu/newsoffice/2013/mit-students-help-middle-school-girls-shine-in-dance-and-mathematics.html"%>
						</td>
					</tr>
					<tr>
						<td><%=image_tag "PSC_logo.png", width:50, height:50%></td>
						<td><small>10/20/2013</small><br>
							<%=link_to "MIT PUBLIC SERVICE CENTER: Kirin Sinha '14: Math and Movement", "http://psc25.mit.edu/stories/kirin-sinha-14-math-and-movement"%>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>