<div class="row title-row">
	<div class="col-12 font-thin">News</div>
</div><!-- /row -->
<div class="row line-row">
	<div class="hr">&nbsp;</div>
</div><!-- /row -->
<div class="row subtitle-row">
	<div class="col-12">
		<div class="col-lg-6">
			<div class="margin-med-lr bg-trans-white white-border rounded padding-small">
				<strong>EVENTS</strong>
				<table>
					<tr>
						<td><%=image_tag "paint_splatters.png", width:50, height:50%></td>
						<td><small>2/20/2014</small><br>
							<%=link_to "Introduce a Girl to Engineering day", engineeringday_path%></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="margin-med-lr bg-trans-white white-border rounded padding-small">
				<strong>PRESS</strong>
				<table>
					<tr>
						<td><%=image_tag "csf.png", width:50, height:50%></td>
						<td><small>11/14/2013</small><br>
							<%=link_to "MIT COMMUNITY SERVICE FUND: SHINE for Girls", "http://csf.mit.edu/blog/shine-girls"%>
						</td>
					</tr>
					<tr>
						<td><%=image_tag "mit_news.png", width:50, height:50%></td>
						<td><small>11/1/2013</small><br>
							<%=link_to "MIT NEWS: MIT students help middle-school girls SHINE in dance and math", "http://web.mit.edu/newsoffice/2013/mit-students-help-middle-school-girls-shine-in-dance-and-mathematics.html"%>
						</td>
					</tr>
					<tr>
						<td><%=image_tag "PSC_logo.png", width:50, height:50%></td>
						<td><small>10/20/2013</small><br>
							<%=link_to "MIT PUBLIC SERVICE CENTER: Kirin Sinha '14: Math and Movement", "http://psc25.mit.edu/stories/kirin-sinha-14-math-and-movement"%>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>