<div class="row subtitle-row bg-white padding-large rounded">
	<div class="col=lg-12">
		<span class="font-black">Special Thanks to All Our Sponsors:</span>
		<div class="lg-space"></div>
		<div class="lg-space"></div>
		<div class="row">
			<div class="col-sm-3">
				<%=image_tag "sponsors/Baker_Foundation Logo.jpg", class: "desaturate img_rs"%>
			</div>
			<div class="col-sm-3">
				<%=image_tag "sponsors/SWE-logo.bmp", class: "desaturate img_rs"%>
			</div>
			<div class="col-sm-3">
				<%=image_tag "sponsors/teach-for-america-logo.jpg", class: "desaturate img_rs"%>
			</div>
			<div class="col-sm-3">
				<%=image_tag "sponsors/MIT Math Logo.gif", class: "desaturate img_rs"%>
			</div>
		</div>
		<div class="med-space"></div>
		<div class='row'>
			<div class="col-sm-3">
				<%=image_tag "sponsors/PSC Logo.jpg", class: "desaturate img_rs"%>
			</div>
			<div class="col-sm-3">
				<%=image_tag "sponsors/MIT_CSF_Logo.png", class: "desaturate img_rs"%>
			</div>
		</div>
	</div>
</div>