<div id="donate">
	<%if signed_in? %>
	<div class="strong text-center font-white">
		ADMIN OPTIONS<br><br>
	</div>
	<div class="btn-group-vertical">
		<%=link_to "New Announcement", new_announcement_path, class: 'btn btn-info strong'%>
		<% message = "Messages ("+Message.unread.count.to_s+"/"+Message.all.count.to_s+")"%>
		<%=link_to message, messages_path, class: 'btn btn-primary strong'%>
		<% donation = "Donations ("+Donation.unread.count.to_s+"/"+Donation.all.count.to_s+")"%>
		<%=link_to donation, donations_path, class: 'btn btn-primary strong'%>
		<% mentor = "Mentor Applications ("+MentorApplication.unread.count.to_s+"/"+MentorApplication.all.count.to_s+")"%>
		<%=link_to mentor, mentor_applications_path, class: 'btn btn-primary strong'%>
		<% student = "Student Applications ("+StudentApplication.unread.count.to_s+"/"+StudentApplication.all.count.to_s+")"%>
		<%=link_to student, student_applications_path, class: 'btn btn-primary strong'%>
		<%=link_to "Sign Out", signout_path, method: "delete", class: 'btn btn-danger strong'%>
	</div>
	<%else%>
		<%=link_to "Click to Donate!", new_donation_path, class: 'btn btn-primary strong'%>
	<%end%>
</div>

<div class="navbar navbar-fixed-top" data-activeslide="1">
	<div class="container">

		<div class="nav-collapse collapse navbar-responsive-collapse">
			<%=render 'static/navigation'%>
		</div>
	</div>
</div>

<!--  MAIN Background  -->
<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<% flash.each do |key, value| %>
				 <div class="alert alert-<%= key %>">
				 	<%= value %></div>
			<% end %>
		<div id="home-row-1" class="row clearfix">
			<%=render 'static/main_panel'%>
		</div>
	</div>
</div>

<!--  Slide 2 - About  -->
<div class="slide story" id="slide-2" data-slide="2">
	<div class="container">
		<div id="about" class="toggle animated fadeIn">
			<%=render 'static/about_panel'%>
		</div>
		<div id="program" class="toggle hide animated fadeIn">
			<%=render 'static/program'%>
		</div>
		<div id = "deadlines" class="toggle hide animated fadeIn">
			<%=render 'static/deadlines'%>
		</div>
		<div id = "success" class="toggle hide animated fadeIn">
			<%=render 'static/success'%>
		</div>
		<%= render 'static/about_links' %>
	</div>
</div>

<!--  Slide 3 - News  -->
<div class="slide story" id="slide-3" data-slide="3">
	<div class="container">
		<%=render 'static/news_panel'%>
	</div>
</div>


<!--  Slide 4 - Application  -->
<div class="slide story" id="slide-4" data-slide="4">
	<div class="container">
		<%=render 'static/application_panel'%>
	</div>
</div>

<!--  Slide 5 - Mentors  -->
<div class="slide story" id="slide-5" data-slide="5">
	<div class="container">
		<%=render 'static/mentors_panel'%>
	</div>
</div>

<!--  Slide 6 - Contact  -->
<div class="slide story" id="slide-6" data-slide="6">
	<div class="container">
		<%=render 'static/contact_panel'%>
		<div class="lg-space"></div>
		<div class="lg-space"></div>
		<div class="lg-space"></div>
		<%=render 'static/sponsors'%>
	</div>
</div>
