<div class="navbar navbar-fixed-top" data-activeslide="1">
	<div class="container">

		<div class="nav-collapse collapse navbar-responsive-collapse">
			<%=render 'navigation'%>
		</div>
	</div>
</div>

<!--  MAIN Background  -->
<div class="slide story" id="slide-1" data-slide="1">
	<div class="container">
		<div id="home-row-1" class="row clearfix">
			<%=render 'main_panel'%>
		</div>
	</div>
</div>

<!--  Slide 2 - About  -->
<div class="slide story" id="slide-2" data-slide="2">
	<div class="container">
		<%=render 'about_panel'%>
	</div>
</div>

<%=render 'modals'%>


<!--  Slide 4 - Mentors  -->
<div class="slide story" id="slide-3" data-slide="3">
	<div class="container">
		<%=render 'mentors_panel'%>
	</div><!-- /container -->
</div><!-- /slide4 -->


<!--  Slide 4 - Application  -->
<div class="slide story" id="slide-4" data-slide="4">
	<div class="container">
		<%=render 'application_panel'%>
	</div>
</div>

<!--  Slide 5 - Print  -->
<div class="slide story" id="slide-5" data-slide="5">
	<div class="container">
		<%=render 'print_panel'%>
	</div>
</div>

<!--  Slide 6 / Contact  -->
<div class="slide story" id="slide-6" data-slide="6">
	<div class="container">
		<%=render 'contact_panel'%>
	</div>
</div>
