<!DOCTYPE html>
<html>
<head>
  <title>Shine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shine" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Shine" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/assets/favicon2.ico" type="image/x-icon">
	<link rel="icon" href="/assets/favicon2.ico" type="image/x-icon">

  <meta charset="utf-8"g>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>

<%= yield %>

<footer class="text-center">
	<small>Site Created by <a href="http://annietang.mit.edu" class="font-white">Annie Tang</a></small>
</footer>

</body>
<script type="text/javascript">

$( "#about_link" ).click(function() {
  $(".toggle").addClass("hide");
  $("#about").removeClass("hide");
});

$( "#program_link" ).click(function() {
  $(".toggle").addClass("hide");
  $("#program").removeClass("hide");
});

$( "#deadlines_link" ).click(function() {
  $(".toggle").addClass("hide");
  $("#deadlines").removeClass("hide");
});

$( "#mentors_link" ).click(function() {
  $(".toggle").addClass("hide");
  $("#mentors").removeClass("hide");
});

$( "#success_link" ).click(function() {
  $(".toggle").addClass("hide");
  $("#success").removeClass("hide");
});

$( "#faq_link" ).click(function() {
  $(".toggle").addClass("hide");
  $("#faq").removeClass("hide");
});

</script>

</html>