<!DOCTYPE html>
<html>
<head>
  <title>Shine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Shine" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Shine" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8"g>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="full">
<%= yield %>
</div>

<footer class="text-center font-gray">
	<small>Site Created by <a href="http://annietang.mit.edu" class="font-gray">Annie Tang</a></small>
</footer>

</body>

</html>